[Unit]
Description=bfup signal
After=devlink-activate.service
# Don't start if this file exists, OS layer has bfup.service preinstalled
ConditionPathExists=!/etc/mlnx-release

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bfupsignal.sh

[Install]
WantedBy=multi-user.target
